In [1]:
import pandas as pd

In [2]:
data = {
    'Id' : [1,2,3,4,5,6,7,8,9,10],
    'Gender' : ['male', 'female', 'male','male','female','female','male','female','male','female'],
    'Age' : [37,60,32,45,27,28,39,42,50,29],
    'ESal' : [45000, 70000, 30000, 100000, 25000, 55000, 54000, 35000, 90000, 81000],
    'Purchaded' : [0, 1, 1, 1, 0, 1, 0, 0, 1, 1]
}
userdf = pd.DataFrame(data)

In [3]:
userdf.head()

   Id  Gender  Age    ESal  Purchaded
0   1    male   37   45000          0
1   2  female   60   70000          1
2   3    male   32   30000          1
3   4    male   45  100000          1
4   5  female   27   25000          0

In [16]:
userdf = userdf.drop(columns=['Id'])

In [17]:
userdf

   Gender  Age    ESal  Purchaded
0    male   37   45000          0
1  female   60   70000          1
2    male   32   30000          1
3    male   45  100000          1
4  female   27   25000          0
5  female   28   55000          1
6    male   39   54000          0
7  female   42   35000          0
8    male   50   90000          1
9  female   29   81000          1

In [20]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [21]:

userdf['Gender'] = le.fit_transform(userdf['Gender'])

In [22]:
userdf.head()

   Gender  Age    ESal  Purchaded
0       1   37   45000          0
1       0   60   70000          1
2       1   32   30000          1
3       1   45  100000          1
4       0   27   25000          0

from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_scaled = scaler.fit_transform()

In [23]:
from sklearn.model_selection import train_test_split

In [25]:
x = userdf[['Gender','Age','ESal']]

In [26]:
X

   Gender  Age    ESal
0       1   37   45000
1       0   60   70000
2       1   32   30000
3       1   45  100000
4       0   27   25000
5       0   28   55000
6       1   39   54000
7       0   42   35000
8       1   50   90000
9       0   29   81000

In [28]:
X = userdf.drop(columns=['Purchaded'])

In [29]:
X

   Gender  Age    ESal
0       1   37   45000
1       0   60   70000
2       1   32   30000
3       1   45  100000
4       0   27   25000
5       0   28   55000
6       1   39   54000
7       0   42   35000
8       1   50   90000
9       0   29   81000

In [30]:
Y = userdf[['Purchaded']]

In [31]:
Y

   Purchaded
0          0
1          1
2          1
3          1
4          0
5          1
6          0
7          0
8          1
9          1

In [32]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

In [34]:
X_scaled

array([[ 1.        , -0.18767778, -0.54864904],
       [-1.        ,  2.08421112,  0.4673677 ],
       [ 1.        , -0.68156667, -1.15825909],
       [ 1.        ,  0.60254445,  1.6865878 ],
       [-1.        , -1.17545556, -1.36146244],
       [-1.        , -1.07667778, -0.14224234],
       [ 1.        ,  0.00987778, -0.18288301],
       [-1.        ,  0.30621111, -0.95505574],
       [ 1.        ,  1.09643334,  1.2801811 ],
       [-1.        , -0.9779    ,  0.91441507]])

In [36]:
x.head()

   Gender  Age    ESal
0       1   37   45000
1       0   60   70000
2       1   32   30000
3       1   45  100000
4       0   27   25000

In [37]:
x_train, x_test, y_train,y_test = train_test_split(x,Y,test_size = 0.30, random_state = 42)

In [39]:
x_train

   Gender  Age    ESal
0       1   37   45000
7       0   42   35000
2       1   32   30000
9       0   29   81000
4       0   27   25000
3       1   45  100000
6       1   39   54000

In [40]:
scaler = StandardScaler()
X_Train_Scaled = scaler.fit_transform(x_train)
X_Test_Scaled = scaler.fit_transform(x_test)

In [45]:
from sklearn.linear_model import LogisticRegression

In [46]:
model = LogisticRegression()

In [48]:
model.fit(X_Train_Scaled, y_train)

/usr/local/lib64/python3.9/site-packages/sklearn/utils/validation.py:1408: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression()

In [49]:
y_pred = model.predict(X_Test_Scaled)
from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.00      0.00      0.00         0
           1       1.00      0.33      0.50         3

    accuracy                           0.33         3
   macro avg       0.50      0.17      0.25         3
weighted avg       1.00      0.33      0.50         3

/usr/local/lib64/python3.9/site-packages/sklearn/metrics/_classification.py:1565: UndefinedMetricWarning: Recall is ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
/usr/local/lib64/python3.9/site-packages/sklearn/metrics/_classification.py:1565: UndefinedMetricWarning: Recall is ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
/usr/local/lib64/python3.9/site-packages/sklearn/metrics/_classification.py:1565: UndefinedMetricWarning: Recall is ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))

In [52]:
from sklearn.metrics import confusion_matrix
print("For confusion matrix")
print(confusion_matrix(y_test , y_pred))

For confusion matrix
[[0 0]
 [2 1]]

In [53]:
from sklearn.metrics import accuracy_score

In [54]:
acc = accuracy_score(y_test, y_pred)
print(f"Accuracy: {acc:.2f}")

Accuracy: 0.33